.example-card {
  max-width: 400px;
  background-color: rgb(225, 220, 250);
  text-align: center;
  color: rgb(233, 234, 242);
  background-image: url("src\assets\image\Screenshot (787).png");
}
.dlt {
  color: black;
  background-color: aliceblue;
}
.col {
  background-color: rgb(220, 244, 245);
}
